
@{
    ViewData["Title"] = "Shipments";
}

<h1>Superstore Shipment analysis</h1>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pie Charts</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <script>

            function dynamicColors() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgba(" + r + "," + g + "," + b + ", 0.5)";
        }
        function poolColors(a) {
    var pool = [];
    for(i = 0; i < a; i++) {
        pool.push(dynamicColors());
    }
    return pool;
}

        var jsShipTotals = @Html.Raw(ViewBag.TheShipTotals);



        ;
        var PieChartData =
        {
            labels: @Html.Raw(ViewBag.TheShipLabels),
            datasets: [{
                label: 'Shipment',
                backgroundColor: poolColors(jsShipTotals.length),
                borderWidth: 2,
                data: jsShipTotals
            }]
        };

        window.onload = function () {
            var ctx1 = document.getElementById("barcanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'pie',
                    data: PieChartData,
                    options:
                    {
                        title:
                        {
                            display: true,
                            text: "Types of shipments"
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
                });
        }

    </script>
</head>

<body>

    <div class="container-fluid">
      
        <canvas id="barcanvas" height="450" width="600"></canvas>


    </div>


</body>


</html>  