@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1 class="display-4">To</h1>
        <h1 class="display-4">The Superstore Data</h1>
        <h1 class="display-4">Visualization Website</h1>

    </div>
